@font-face {
  font-family: 'FamousGuessr';
  src: url('/fonts/FamousGuessr-Font.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'FamousGuessr', sans-serif;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

